# Basic CommandsÂ 

## **Usage**

Utilizing the Azure SQL database is lovely and all, but sometimes SSMS is better.

Here we build up a Jupyter notebook to handle some of the basic queries often.

This also allows for scrap-queries to be saved in case they can be used eventually.

## GET Scripts

## UPDATE Scripts

**Update Single Column** - Used to update single columns from one type to another

In [ ]:
ALTER TABLE [dbo].[TodoTask]
    ALTER COLUMN [UpdatedBy] VARCHAR(63) NULL;